@charset "utf-8";
/* CSS Document */
.clear-div {
    clear:both;
}

.expert-item {
	border-bottom: 1px solid #4682B4; 
	min-height: 100px;
    background-color: #F5F5F5;   
    position: relative;
    cursor: pointer;
}
.expert-portait {
    position: absolute;
    left: 9px;
    top: 15px;
}

.expert-portait img {
    border:1px solid #b6b6b6; 
	width:56px; 
	height:56px;
}
.expert-body {
    margin: 0 10px 0 78px;
    padding: 15px 0;
    font-size:14px;
}
.expert-line {
    clear: both;
    float: left;
    line-height: 130%;
    margin: 0 0 5px;
    width: 100%;
}
.name {
    font-weight:bold;
	float:left;
	font-size:16px;
}
.company {
    font-size:12px;
}

.item-up{
	background-color: #ffffff; 
	font-size:12px;
	text-align:center;
	border-bottom:1px solid #b6b6b6;
	margin: 3px;
	margin-bottom:0px;
}

.item-down{
	background-color: #ffffff; 
	font-size:12px;
	text-align:center;
	margin: 3px;
	margin-top:0px;
}

.job {
    color:#999;
}
