@charset "utf-8";
/* CSS Document */

.profile_field
{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:2px;
	margin-left:10px;
	margin-right:10px;
	border-bottom:1px solid #09C;
}

.profile_class
{
	line-height:20px;
	font-size:13px;
	color:#09C;
	margin-bottom:5px;
}

.profile_font {
	color:#000;
	font-weight:normal;
	float:left;
	line-height:30px;
	font-size:15px;
	color:#333;
	width:85%;
}

.pen {
	float:right;
	height:30px;
	width:30px;
}

.textheader{
	text-align:center;
	line-height:45px;
	font-size:20px;
	color:#FFF;
}

.areaheader{
	text-align:center;
	line-height:45px;
	font-size:20px;
	color:#FFF;
}

.clear {
	clear:both;
}