@charset "utf-8";
/* CSS Document */
.expert{
	border-radius:15px;
	background-color:#33FFCC;
	text-align:center;
	margin-top:30px;
	margin-bottom:20px;
	margin-left:20px;
	margin-right:20px;
	padding-top:30px;
	padding-bottom:30px;
	padding-left:20px;
	padding-right:20px;
}

.company{
	border-radius:15px;
	background-color:#FFFF99;
	text-align:center;
	margin-top:30px;
	margin-bottom:20px;
	margin-left:20px;
	margin-right:20px;
	padding-top:30px;
	padding-bottom:30px;
	padding-left:20px;
	padding-right:20px;
}

.identity{
	color:#333333;
	padding-bottom:15px;
}

.identity_introduce{
	color:#666666;
}

